<% include ../../partials/header %>
<% include ../../partials/navbar %>

<div class="cleaning_page">
        <% for (let i = 0; i < images.length - 1; i+=4 ) { %>
                <div class="row">
                    <div class="col-1-of-4">
                        <img style="width: 100%; height: 20rem;" src="<%= images[i].image_path %>" alt="<%= images[i].image_name %>">
                        <input type="checkbox" value="<%= images[i].image_id%>">
                    </div>
                    <div class="col-1-of-4">
                        <img style="width: 100%; height: 20rem;" src="<%= images[i+1].image_path %>" alt="<%= images[i].image_name %>">
                        <input type="checkbox" value="<%= images[i+1].image_id%>">
                    </div>
                    <div class="col-1-of-4">
                        <img style="width: 100%; height: 20rem;" src="<%= images[i+1].image_path %>" alt="<%= images[i].image_name %>">
                        <input type="checkbox" value="<%= images[i+2].image_id%>">
                    </div>
                    <div class="col-1-of-4">
                        <img style="width: 100%; height: 20rem;" src="<%= images[i+1].image_path %>" alt="<%= images[i].image_name %>">
                        <input type="checkbox" value="<%= images[i+3].image_id%>">
                    </div>
                </div>
        <% } %>

        <div class="cleaning_page--button">
            <button>Mark as Blank</button>
        </div>
</div>
<% include ../../partials/scripts %>
<script>
    $("button").on("click", function() {
        let all_id = [];
        for (let i = 0; i < $("input").length; i++){
            all_id.push($("input")[i].value);
        }
        let blank = [];
        for (let i = 0; i < $("input:checked").length; i++){
            blank.push($("input:checked")[i].value);
        }
        let usable = [];
        for (let i = 0; i < $("input:not(:checked)").length; i++){
            usable.push($("input:not(:checked)")[i].value);
        }
        $.ajax({
            url: "/clean_images",
            method: "POST",
            data: {all_id, usable, blank},
            success: function() {
                console.log("Sent");
            }
        });
    })
</script>
</body>
</html>
